/* import w.jpg */


:root {
    --white: #c5bfcd;
    --black: #151515;
    --nearBlack: #1d1d1d;
    --grey: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
}

main {
    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    color: white;
}

.card {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--nearBlack);
    min-width: 300px;
    max-width: 500px;
    height: 300px;
    flex: 1 1 0px;
}

.dev {
    border: 2px solid rgb(172, 44, 44);
}

.prod {
    border: 2px solid rgb(44, 172, 80);
}

p {
    margin: 10px 0px;
}

/* links */
a {
    color: var(--white);
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 15px 0px;
}

li {
    padding: 2px 0px;
}

.flex {
    display: flex;
    justify-content: start;
    gap: 15px;
}