@font-face {
    font-family: myFirstFont;
    src: url(./fonts/Typo_Round_Bold.otf);
}

:root {
    --white: #c5bfcd;
    --black: #151515;
    --nearBlack: #1d1d1d;
    --grey: #333;
    --purple: rgb(130, 41, 155);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
}

center {
    display: flex;
    align-content: center;
}

main {
    max-width: 1000px;
    margin: auto;
    width: initial;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}